
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">Ver</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido 1</th>
            <th class="text-center">Apellido 2</th>
            <th class="text-center">Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes" [class.selected]="getActual()===cliente.id">
              <td class="text-center">
                <a routerLink="consultar/{{cliente.id}}">
                  <button class="btn btn-primary" (click)="restart()">
                    <i class="fas fa-eye"></i>
                  </button>
                </a>
              </td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellido1}}</td>
              <td>{{cliente.apellido2}}</td>
              <td class="text-center align-middle">
                <img class="h-50 d-inline-block " src="{{cliente.foto}}" alt="{{cliente.nombre}}">
              </td>
            </tr>
          <ng-template #elseTemplate>
            
          </ng-template>
          
        </tbody>
      </table>
    </div>   
  </div>

