<!-- As a link -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GoLabs</a>
</nav>
<div class="container custom-margin">
  <router-outlet></router-outlet>
</div>


