<div class="row">
  <div class="col text-center">
      <img class="img-thumbnail" src="{{this.cliente.foto}}" alt="{{this.cliente.name}}">  
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <h2>{{getNombreCompleto()}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    {{this.cliente.descripcion}}
  </div>
</div>

<div class="row" style="margin-top: 2%">
  <div class="col text-center">
    <a routerLink="/">
      <button class="btn btn-primary">Go Back</button>
    </a>
  </div>
</div>

